In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
ten_year_married = pd.read_csv('married_in_Seoul.txt', delimiter='\t',dtype='int')
foreign_married = pd.read_csv('married_foreign_Seoul.txt',delimiter='\t',dtype='int')
ten_year_married.head()
del ten_year_married["조혼인율"]
ten_year_married.head()

ValueError: invalid literal for int() with base 10: '합계'

In [4]:
del foreign_married["한국인 남편+외국인 아내"]
del foreign_married["한국인 아내+외국인 남편"]

foreign_married.head()

NameError: name 'foreign_married' is not defined

In [5]:
ten_year_married = ten_year_married.pivot("자치구","기간","혼인건수")
ten_year_married.head(10)

기간    2010   2011   2012   2013   2014   2015   2016   2017   2018   2019
자치구
강남구  3,636  3,657  3,721  3,591  3,560  3,380  3,032  2,677  2,519  2,338
강동구  3,473  3,436  3,312  3,166  2,977  2,753  2,399  2,427  2,371  2,129
강북구  2,142  2,122  2,207  1,975  1,819  1,715  1,500  1,436  1,344  1,260
강서구  4,247  4,276  4,432  4,331  4,338  4,578  4,111  4,069  3,835  3,589
관악구  4,365  4,372  4,457  4,183  3,949  3,859  3,537  3,205  3,090  2,802
광진구  2,672  2,766  2,798  2,685  2,589  2,576  2,285  2,082  2,164  1,893
구로구  3,472  3,470  3,610  3,357  3,156  3,045  2,674  2,460  2,286  2,063
금천구  1,705  1,662  1,689  1,594  1,556  1,481  1,324  1,439  1,269  1,243
노원구  3,511  3,720  3,638  3,432  3,176  3,146  2,778  2,420  2,240  2,138
도봉구  2,110  2,127  2,117  2,062  1,791  1,810  1,636  1,543  1,471  1,316

In [6]:
foreign_married = foreign_married.pivot("자치구","기간","외국인과의 혼인 계")
foreign_married.head(14)

기간   2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
자치구
강남구   339  326  304  306  319  267  273  264  253  231
강동구   311  249  241  201  186  156  144  140  171  150
강북구   237  225  186  140  157  136  135  127  147  141
강서구   345  280  285  238  262  261  243  248  291  304
관악구   468  361  357  357  312  282  285  290  257  334
광진구   290  238  228  224  219  170  171  162  167  156
구로구   434  402  372  351  311  251  268  273  257  270
금천구   343  252  220  201  172  161  170  160  189  164
노원구   256  239  204  201  168  160  176  179  164  168
도봉구   190  171  141  116  114  121  117  118  108  118
동대문구  297  219  223  195  193  171  154  163  143  176
동작구   282  246  233  221  205  187  195  172  173  179
마포구   267  276  241  211  217  210  192  196  206  214
서대문구  203  200  183  185  146  134  129  129  152  137

In [8]:
foreign_married = foreign_married.astype({'2010':int, '2011':int, '2012':int, '2013':int, '2014':int, '2015':int, '2016':int, '2017':int, '2018':int, '2019':int})
foreign_married.dtypes

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [13]:
perc = int(foreign_married.div((int)ten_year_married))
perc

SyntaxError: invalid syntax (<ipython-input-13-f2e7a72d3f4d>, line 1)